[project]
	description = for GALAXY S3 LTE SKT,KT
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/풀그린(Fullgreen) (FullGreen)
[access "refs/for/refs/*"]
	read = group user/풀그린(Fullgreen) (FullGreen)
	push = group user/풀그린(Fullgreen) (FullGreen)
	label-Code-Review = -2..+2 group user/풀그린(Fullgreen) (FullGreen)
	label-Verified = -1..+1 group user/풀그린(Fullgreen) (FullGreen)
	rebase = group user/풀그린(Fullgreen) (FullGreen)
	removeReviewer = group user/풀그린(Fullgreen) (FullGreen)
	submit = group user/풀그린(Fullgreen) (FullGreen)
[access "refs/heads/*"]
	read = group user/풀그린(Fullgreen) (FullGreen)
	create = group user/풀그린(Fullgreen) (FullGreen)
	push = +force group user/풀그린(Fullgreen) (FullGreen)
	pushMerge = group user/풀그린(Fullgreen) (FullGreen)
[access "refs/tags/*"]
	push = +force group user/풀그린(Fullgreen) (FullGreen)
	pushTag = group user/풀그린(Fullgreen) (FullGreen)
	pushSignedTag = group user/풀그린(Fullgreen) (FullGreen)
